.page_container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.page_container_childOne {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 40vh;

    border-radius: 10px;

    background-color: #1E1F22;

}

.registerAndlogin_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;

}

.inputs {
    background-color: #9B9B9B;
    height: 8vh;
    width: 28vw;

    border-radius: 10px;

    font-size: 20px;

}

.button {
    background-color: #9B9B9B;
    height: 6vh;
    width: 10vw;

    border-radius: 5px;
}

@media (max-width: 600px) {
    .page_container_childOne {
        width: 95%;
        height: 30vh;
    }

    .inputs {
        width: 64vw;
        height: 6vh;
    }

    .button {
        width: 26vw;
        height: 5vh;
    }
}

