.page_container {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;
}

.registerAndlogin_container {
    background-color: gray;
    display: flex;
    justify-content: center; /* esquerda ↔ direita */
    align-items: center;     /* cima ↕ baixo */
    height: 30vh;
    width: 30vw;
    border-radius: 5px;
}
.registerAndlogin_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 20vw;
    padding: 10px;
    font-size: 1.1vw;
    font-family: "Noto Sans Lao", sans-serif;
}

.button {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50px;
    width: 10vw;
    padding: 10px;
    font-size: 1.1vw;
    font-family: "Noto Sans Lao", sans-serif;
}
