.parent {
    display: flex;
    flex-direction: column;

    height: 100vh;   /* 👈 isso aqui */
    width: 100%;

    gap: 10%;

}


.top_bar {
    background-color: #1E1F22;
    color: #F2F2F2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10%;

    height: 10%;
}

.title {
    display: flex;
    justify-content: center;
    color: #F2F2F2;
}

.container_childOne {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_parent {
    display: flex;
    flex-direction: column;
    height: 100%;

    gap: 20%;

}


.containerPaymentButtons {
    display: flex;
    gap: 3%;
    justify-content: center;

}

.buttonsPaymnets {
    padding: 18px 28px;
    font-size: 22px;
    width: 200px;
    height: 90px;

    border-radius: 10px;
    cursor: pointer;
}

.pix {
    background-color: #4DB8FF;
}

.dinheiro {
    background-color: #2E8B57;
}

.credito {
    background-color: #F28C38;
}

.debito {
    background-color: #5FBF4A;
}

.containerRemainingTotal {
    background-color: deepskyblue;

    border-radius: 10px;
    padding: 15px 25px;
}

.containerRemainingTotalChild {
    background-color: #2C2F33;
    color: #CFCFCF;

    display: flex;
    justify-content: center;

    border-radius: 5px;
}

.inputContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1%;

    color: #9B9B9B;

}

.inputContainer input {
    background-color: #2C2F33;

    width: 40%;
    font-size: 40px;
    border-radius: 5px;

    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.finishButton {
    margin-top: auto; /* 👈 empurra pro final */
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    gap: 3%;

}

.finishButton button {
    width: 30%;
    height: 60px;

    border-radius: 10px;

    font-size: 30px;

    cursor: pointer;
}

.confirmar {
    background-color: #3FA7F5;
}

.cancelar {
    background-color: #E74C3C;
}

