.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.child {
    background-color: #1E1F22;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 40%;

    border-radius: 10px;
}

.form_product {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.form_product, input, button {

    font-size: 30px;

    border-radius: 10px;
}