.parent {
    display: flex;
    flex-direction: column;
}

.container_top {
    display: flex;
    gap: 1%;
    background-color: dimgray;
    height: 5vh;
}

.smallButton {
    background-color: #2C2F33;
    color: #F2F2F2;
    cursor: pointer;
    font-size: 20px;
}

.container_principal {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 120px;


}

h1 {
    margin: 0;
}