.container {
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 300px;
}

.chartHalf {
    width: 50%;
    height: 100%;
    background-color: #1E1F22;
    border-radius: 10px;
    padding: 1rem;
}

.responsive_container {
    width: 100%;
    height: 100%;
}
