.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child {
    display: flex;
    gap: 3%;
}

.button_finally {
    font-size: 30px;
    border-radius: 10px;

    cursor: pointer;
}

.cancel{
    background-color: #E74C3C;
    color: #F2F2F2;
}

.finally_box {
    background-color: cornflowerblue;
    color: #F2F2F2;
}