.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 90vh;

    color: #F2F2F2;
    gap: 1rem;
}

.container_Box {
    background-color: #1E1F22;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 30%;

    border-radius: 15px;

}

.form_selected {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.container_Users {
    background-color: #2C2F33;
    width: 10%;
    border-radius: 5px;

    margin-bottom: 5px;
}

.words_for_Users {
    background-color: #2C2F33;
    color: #F2F2F2;
    font-size: 30px;

    border-radius: 10px;


}