.container_Box {
    background-color: white;
    width: 50vw;
    height: 50vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container_Users {
    background-color: black;
    width: 10%;
    border-radius: 5px;

    margin-bottom: 5px;
}

.words_for_Users {
    font-size: 20px;
    padding: 5px;

}